html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 0rem;
}

h1 + p {
  font-style: italic;
  font-size: 1.125rem;
  margin-top: 0rem;
  color: #555;
}

.quote {
  color: #999;
}

blockquote {
  color: #555;
}

ol {
  padding-left: 16px;
}
